/* Estilos Generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: hsl(0, 11%, 98%);
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
}


#header-container{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr auto;  /* Utiliza 1fr para el logo (ocupando el espacio restante) y 'auto' para la navegación */
  gap: 20px;  /* Espacio entre el logo y la navegación */
  align-items: center; /* Centra los elementos verticalmente dentro del contenedor */
}


#brand-logo{
  margin: 0;
  padding: 0;
  justify-content: flex-start;  /* Alineación del logo a la izquierda */
}


#brand-logo h1 {
  margin:  30px;
  padding: 30px;
  font-size: 4em;
  font-family: Verdana;
  font-family: 'PT Sans';
  padding-top: 6px;
  letter-spacing: 0.5px;
}



#main-navigation {
  margin: 0;
  padding: 0;
  display: flex;  /* Para alinear los elementos de navegación horizontalmente */
  justify-content: flex-end;  /* Alinea los enlaces de navegación a la derecha */
  background-color: hsl(0, 0%, 3%);
  color: rgb(0, 0, 0);
}

#main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

/* Cabecera */

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

header nav ul li a:hover {
  text-decoration: underline;
}

/* Cuerpo de la Página */
main {
  padding: 20px;
  margin: 20px auto;
  max-width: 1000px;
}

section {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
  color: #333;
}

/* Pie de Página */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  header nav ul li {
    display: block;
    margin-bottom: 10px;
  }

  main {
    padding: 10px;
  }

  section {
    margin-bottom: 15px;
  }
}