



@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

/*   Resert */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}


/******************En esta seccion realizamos la cabezera******************/


header {
  width: 100%;
  height: auto;
  color: #fff;
}


.header {

  height: 100%;
  padding: 0 50px;
  display: flex;
  justify-content:space-between;
  align-items: center;

}


.menu a {
  color: #000000;
  background-color: aqua;
  border-radius: 10px;
  padding: 5px;
  font-family: monospace;
  font-size: 1.3em;

}


.menu a:hover {
    background-color: #000000; 
    color: #fff; 
    border: 2px solid #3498db; 
    transition: background-color 0.3s, color 0.3s, border 0.3s; 
}




.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 3px;
  font-size: 1.5em;
  font-family: monospace;
  color:#fff;
  background-color: black;
  border-radius: 50px;
  opacity: 50px;
  width: 90px;
  height: 30px;
}


.logo .code{
  width: 20px;
  color: aqua;
  margin: 2px;
}


.logo span {

  color:aqua;


}


.menu #active {

  color: aqua;

}


.menu a {

    
  padding: 0 10PX;
   
}


.menu a:hover {

  background-color: aqua;
  color : #191c32;
  transition: ease-in .2s;
  border-radius: 20px;
}



.mostrar-menu, .esconder-menu{

    cursor: pointer;
    display: none;
    transition: 0.4S;

 }



 .mostrar-menu{

  order: 1;
 }



.menu a:hover,
.mostrar-menu, .esconder-menu {

  background-color: black;
  color : aqua;
  transition: ease-in .2s;
  border-radius: 10px;
}


@media screen and (max-width: 1024px){

    .menu a:hover,
    .mostrar-menu, .esconder-menu {
    background-color: aqua;
    color : black;
    transition: ease-in .2s;
    border-radius: 10px;
  }


}



#check {

  display: none;

}



/*responsive*/


@media screen and (max-width: 1024px){     
 

/*ESCONDER MENU*/

   .mostrar-menu, .esconder-menu {

    width: 40px;
    display: block;

 }

    .menu{

      position: fixed;
      width: 60%;
      height: 100vh;
      background: black;
      right: -100%;
      top : 0;
      text-align:  center;
      padding: 100px 0px;
      z-index: 100;
      transition: 0.8s;

    }



    .menu a {

      display: block;
      padding: 20px;
      align-items: center;
      margin: 10px;

    }

    
      .menu a:hover{

        background-color: #000000;
        color: aqua;
      }

    .esconder-menu{

      position: absolute;
      top: 40px;
      right: 40px;

    }


    #check:checked ~ .menu{

      right: 0;

    }


}



/******************** En esta seccion realizazmos el main ************************/

.main {

  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background-color: ccffff;
  color: #fff;
  padding:20px;

  }


@media screen and (max-width: 1024px){

.main {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr; 
  align-items: center;
   }

}



/* aqui editamos carta de presentacion */

.info-content{
   
    height: auto;
    background-color: #000000;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;

  } 


  .info-content h2{
    font-size: 2em;
    font-family: monospace;
  }


  .info-content p{
    font-size: 1em;
    font-family: monospace;
  }

  .info-content span{
      color: #66ffff;
  }


  .info-content button {
    border-radius: 10px;
    padding: 2px;
    background-color:#66ffff;
    font-size: 0.99em;
    font-family: monospace;}


 .info-content .download-cv:hover {
    background-color: #000000; 
    color: #fff; 
    border: 2px solid #3498db; 
    transition: background-color 0.3s, color 0.3s, border 0.3s; 
}


/**********fotografia************/
.imagen{
    display: grid;
    place-items: center;
}


.imagen img{
    padding: 20px;
    width: 80%;
} 


/*****************************DESC y fotografia*****************************************/


.full{

    height: auto;
    background-color: #000000;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    
}



/**********DESC************/

  .muestra-desc{
    display: flex;
    background-color:#fff;
    color:#000000;
    padding: 1px;
    border-radius: 10px;
  }

 
@media screen and (max-width: 1024px){
    .muestra-desc{
        display: block;
    }
}


/**********acomando desc************/

.backend{
  background-color: #99ffff;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  font-size: 20;
  font-family: monospace;
}



.api{
  background-color: #ffffcc;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  font-size: 20;
  font-family: monospace;
}


.frontend{
  background-color: #ccccff;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  font-size: 20;
  font-family: monospace;
}



/*************editor info tecnologias***************/

.tecnologia{

  background-color: #000000;
  color: #ffffff;
  padding: 5px;
  border-radius: 10px;
  padding: 5px;
  font-size: 1.5em;
  font-family: monospace;
}




.tecnologia .iconos {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
   
}




@media screen and (max-width: 1024px){

    .tecnologia .iconos {

        display: flex;
        width: 30%;
    
}















}
